@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: url("./pngtree-modern-double-color-futuristic-neon-background-picture-image_1181573.jpg")
    fixed center no-repeat;
  background-size: cover;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: "Poppins", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

input {
  font-size: 1.4em;
  border: none;
  background-color: #ddd;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

input[type="button"] {
  border-radius: 0.2em;
  background-color: #ccc;
}
