@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #111;
  color: #eee;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 1em;
  box-shadow: 0 0 2em 0.5em #777;
}

#clock {
  background-color: #eee;
  color: #111;
  font-size: 2em;
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
  padding: 0.25em 0.5em;
  border-radius: 1em;
}

button {
  border: none;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0.1em 0 0.1em #777;
}

button:active {
  position: relative;
  top: 0.2em;
  box-shadow: none;
}

#start {
  background-color: #1faa59;
}
